.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  justify-content: space-between;
  vertical-align: middle;
  
}

.App-footer{
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  color: white;
  padding-right: 2vw;
  padding-left: 2vw;
}

.title{
  font-size: 5vh;
  color: white;
  line-height: 9vh;
  padding-left: 2vw;
  text-decoration: none;
  max-height: 10vh;
}

.coglogo{
  max-height: 10vh;

}

.menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  vertical-align: middle;
  color: white;
  padding-right: 2vw;
  padding-left: 2vw;
  

}

.bodysection{
  background-color: white;
  min-height: 90vh;
}

.menuitem{
  padding: 1vh;
  color: white;
  text-decoration: none;
  font-size: 2.5vh;
}

.aboutsection{
  background-color: white;
  min-height: 90vh;
  margin-top: -0px;
  display: flex;
  flex-direction: column;

}

.image{
  align-items: right;
  max-height: 30vh;
  padding-right: 2vw;
  padding-left: 2vw;
  padding-top: 2vh;
}

.homeimage{
  padding-left: 10vw;
  padding-right: 10vw;
  width: 80%;

}

.playtestimage{
  padding-left: 10vw;
  align-items: right;
  max-height: 30vh;
  padding-right: 2vw;
  padding-top: 2vh;
}


.sectionheader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: bottom;
}

.sectiontitle{
  font-size: 3vh;
  color: black;
  padding-left: 10vw;
  text-decoration: none;
}

.sectioncontent{
  font-size: 2.5vh;
  color: black;
  padding-left: 10vw;
  padding-right: 10vw;
  text-decoration: none;
  padding-bottom: 5vh;

}

.contentwithimage{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.teammembersection{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10vh;
  align-items: center;

}

.teammembersectionreverse{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-bottom: 10vh;
  text-align: right;
  align-items: center;
}



.teammembertitleanddescription{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-left: 2vw;
  padding-right: 2vw;
}


.contactform{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2vh;
  padding-right: 2vw;
}

.contactformsection{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 2vh;
}

.socials{
  display: flex;
  flex-direction: row;
  padding-top: 3vh;
  padding-right: 2vw;
}


.socialicon{
  margin-right: 1vw;
}

.inputfield{
  padding: 1vh;
  font-size: 2vh;

}

.submitbutton{
  padding: 1vh;
  font-size: 2vh;
  background-color: #282c34;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  
}

.playtestform{
  display: flex;
  flex-direction: row;
  padding-right: 2vw;
}


@media screen and (max-width: 768px){
  .menuitem{  
    font-size: 1.5vh;
    
  }


  .socialicon{
    margin-right: 2vw;
  }

  .contentwithimage{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

  }

  .image{
    max-height: 50vh;
    padding-bottom: 4vh;

  }

  .teammembersection{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding-bottom: 10vh;
    align-items: center;
  
  }

  .teammembersectionreverse{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    padding-bottom: 10vh;
    align-items: center;
    text-align: left;
  }

  .playtestimage{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  
}