.SNE_desc{
    background-color: black;
    text-align: center;
}
.desc{
    padding: 30px;
   font-style: italic;
   width: 100%; 
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
}
.titlepic{
    
    width: 90%;
}
.clown{
    
    width: 20%;
}
.SNE_desc button{
    display: inline-block;
    background-color: transparent;
    border-color: #F5F5F5;
    color:#F5F5F5;
    padding: 30px 25px;
    font-size: 12px;
    border-radius: 30px;
    cursor: pointer;
    border: 0;    
    }